# 1. Creating DataFrames (10 Marks)

Create a Pandas DataFrame with the following data:

In [3]:
import pandas as pd
df=pd.DataFrame({'Name' : ['Alice' , 'Bob' , 'Charlie' , 'Diana'] , 'Age' : [23,25,22,24] , 'Gender' : ['Female' , 'Male' , 'Male', 'Female'] , 'Score' : [85,78,90,92]})
print(df)

      Name  Age  Gender  Score
0    Alice   23  Female     85
1      Bob   25    Male     78
2  Charlie   22    Male     90
3    Diana   24  Female     92

1. Display the first 3 rows of the DataFrame. (2 Marks)

In [5]:
print(df.dtypes)

Name      object
Age        int64
Gender    object
Score      int64
dtype: object

2. Get the column names and data types. (2 Marks)

In [7]:
print(df.head(3))

      Name  Age  Gender  Score
0    Alice   23  Female     85
1      Bob   25    Male     78
2  Charlie   22    Male     90

3. Add a new column named Passed with a value of True if the Score is greater than 80, otherwise False. (3 Marks)

In [9]:
df['Passed'] = df['Score'].apply(lambda p: True if p>80 else False)
print(df)

      Name  Age  Gender  Score  Passed
0    Alice   23  Female     85    True
1      Bob   25    Male     78   False
2  Charlie   22    Male     90    True
3    Diana   24  Female     92    True

In [10]:
df = df.drop('Gender' , axis = 1)

In [11]:
print(df)
#Gender dropped cant put it into previous cell because once gender is removed it generates error while again dropping it

      Name  Age  Score  Passed
0    Alice   23     85    True
1      Bob   25     78   False
2  Charlie   22     90    True
3    Diana   24     92    True

# 2. Indexing and Slicing (10 Marks)

1. Select and display only the Name and Score columns. (2 Marks)

In [25]:
print(df[['Name' , 'Score']])

      Name  Score
0    Alice     85
1      Bob     78
2  Charlie     90
3    Diana     92

2. Filter and display rows where Score is greater than 85. (3 Marks)

In [41]:
print(df.loc[df.Score > 85])

      Name  Age  Score  Passed
2  Charlie   22     90    True
3    Diana   24     92    True

3. Display the row for the student named "Bob" using loc. (2 Marks)

In [44]:
print(df.loc[df.Name == 'Bob'])

  Name  Age  Score  Passed
1  Bob   25     78   False

4. Display the last 2 rows of the DataFrame. (3 Marks)

In [55]:
print(df.iloc[-2:])

      Name  Age  Score  Passed
2  Charlie   22     90    True
3    Diana   24     92    True

# 3. Data Analysis (15 Marks)

1. Calculate the average age of students. (2 Marks)

In [59]:
print(df['Age'].mean())

23.5

2. Find the maximum and minimum scores. (2 Marks)

In [62]:
print(df['Score'].max() , df['Score'].min())

92 78

3. Count the number of students who passed. (3 Marks)

In [83]:
print(df['Passed'].value_counts()[True])

3

4. Group the data by the Passed column and calculate the average score for each group. (4 Marks)

In [88]:
print(df.groupby('Passed').Score.mean())

Passed
False    78.0
True     89.0
Name: Score, dtype: float64

5. Sort the DataFrame by Score in descending order. (4 Marks)

In [97]:
print(df.sort_values(by = 'Score' , ascending = False))

      Name  Age  Score  Passed
3    Diana   24     92    True
2  Charlie   22     90    True
0    Alice   23     85    True
1      Bob   25     78   False

# 4. Importing and Exporting Data (5 Marks)

1. Save the DataFrame from Task 1 as a CSV file named students.csv. (2 Marks)

In [105]:
df.to_csv("students.csv")

2. Read the students.csv file back into a new DataFrame and display it. (3 Marks)

In [110]:
df2 = pd.read_csv("students.csv")
print(df2)

   Unnamed: 0     Name  Age  Score  Passed
0           0    Alice   23     85    True
1           1      Bob   25     78   False
2           2  Charlie   22     90    True
3           3    Diana   24     92    True

# 5. Real-World Problem (10 Marks)

Create a DataFrame with the following sales data:

In [116]:
company = pd.DataFrame({'Product' : ["Laptop" , "Smartphone" , "Desk" , "Chair"] , 'Category' : ["Electronics" , "Electronics", "Furniture" , "Furniture" ] , "Sales" : [500,300,200,150] , "Discount" : [50,30,20,15]})
print(company)

      Product     Category  Sales  Discount
0      Laptop  Electronics    500        50
1  Smartphone  Electronics    300        30
2        Desk    Furniture    200        20
3       Chair    Furniture    150        15

1. Calculate a new column named Net Sales as Sales - Discount. (3 Marks)

In [131]:
company["Net Sales"] = company["Sales"] - company["Discount"]
print(company)

      Product     Category  Sales  Discount  Net Sales
0      Laptop  Electronics    500        50        450
1  Smartphone  Electronics    300        30        270
2        Desk    Furniture    200        20        180
3       Chair    Furniture    150        15        135

In [135]:
company.groupby("Category").Sales.sum()

Category
Electronics    800
Furniture      350
Name: Sales, dtype: int64

In [147]:
company["Product"].loc[company.Sales == max(company.Sales)]

0    Laptop
Name: Product, dtype: object