# Grouping, Merging, and Time-Series with Pandas

# 1. Grouping and Aggregation (20 Marks)

In [4]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice', 'Charlie', 'Bob'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North', 'North'],
    'Sales': [200, 150, 300, 400, 100, 250, 300, 350],
    'Year': [2023, 2023, 2024, 2024, 2023, 2024, 2024, 2023]
}

df = pd.DataFrame(data)

1. Group the data by Employee and calculate the total sales for each employee. (5 Marks)

In [6]:
Total_Sales = df.groupby(['Employee']).Sales.sum()
print(Total_Sales)

Employee
Alice      750
Bob        900
Charlie    400
Name: Sales, dtype: int64

2. Group the data by Region and find the average sales per region. (5 Marks)

In [8]:
print(df.groupby('Region').Sales.mean())

Region
North    250.000000
South    266.666667
Name: Sales, dtype: float64

3. Group the data by both Employee and Year to calculate the total sales for each combination. (10 Marks)

In [10]:
print(df.groupby(['Employee' , 'Year']).Sales.sum())

Employee  Year
Alice     2023    200
          2024    550
Bob       2023    500
          2024    400
Charlie   2023    100
          2024    300
Name: Sales, dtype: int64

# 2. Merging and Concatenation (20 Marks)

In [12]:
employee_details = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Department': ['Sales', 'Sales', 'Marketing', 'HR']
})

sales_targets = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Sales_Target': [1000, 1200, 800, 500]
})

1. Merge the two datasets on the Employee column to combine all details. (10 Marks)

In [14]:
employee_sales = pd.merge(employee_details,sales_targets , on = 'Employee')
print(employee_sales)

  Employee  Age Department  Sales_Target
0    Alice   25      Sales          1000
1      Bob   30      Sales          1200
2  Charlie   35  Marketing           800
3    David   40         HR           500

2. Create a new column showing the difference between Sales_Target and total sales (calculated from Task 1). Hint: Use the merged dataset for calculations. (10 Marks)

In [16]:
difference = pd.merge(employee_sales , Total_Sales , on = 'Employee')
difference['difference'] = difference['Sales_Target'] - difference ['Sales'] 
print(difference)

  Employee  Age Department  Sales_Target  Sales  difference
0    Alice   25      Sales          1000    750         250
1      Bob   30      Sales          1200    900         300
2  Charlie   35  Marketing           800    400         400

# 3. Working with Time-Series Data (20 Marks)

In [18]:
stock_prices = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Price': [100, 102, 105, 107, 110]
})

1. Convert the Date column to a datetime object. (5 Marks)

In [20]:
stock_prices['Date'] = pd.to_datetime(stock_prices['Date'])
print(stock_prices.Date.dtype)

datetime64[ns]

2. Resample the data to calculate the weekly average price. (10 Marks)

In [22]:
stock_prices.set_index('Date' , inplace = True)
print(stock_prices['Price'].resample('W').mean())

Date
2024-01-07    104.8
Freq: W-SUN, Name: Price, dtype: float64

3. Find the day with the highest stock price. (5 Marks)

In [24]:
print(stock_prices['Price'].idxmax())

2024-01-05 00:00:00

# 4. Pivot Tables and Cross-Tabulations (20 Marks)

1. Create a pivot table to find the total sales by Region and Year. (10 Marks)

In [27]:
region_year = df.pivot_table(
    values = 'Sales' ,
    index = 'Year' ,
    columns = 'Region',
    aggfunc = 'sum'
)

print(region_year)

Region  North  South
Year
2023      650    150
2024      600    650

2. Create a cross-tabulation showing the count of employees working in each Region for each Year. (10 Marks)

In [29]:
year_region = pd.crosstab(df['Region'] , df['Year'] , values = df['Employee'] , aggfunc = 'count')
print(year_region)

Year    2023  2024
Region
North      3     2
South      1     2

# 5. Exporting Data (10 Marks)

1. Save the final merged dataset (from Task 2) to a CSV file named employee_sales.csv. (5 Marks)

In [35]:
difference.to_csv("employee_sales.csv")

2. Save the pivot table (from Task 4) to an Excel file named sales_summary.xlsx. (5 Marks)

In [37]:
region_year.to_excel("sales_summary.xlsx")